@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>


<address>
    First Way, 140 East 47th Street<br />
    Second Flat, NY 10018, WA.0606<br />
    <abbr title="Phone">P:</abbr>
    123.456.789
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@blog.com</a>
</address>